button
    outline: none
    border: none
    cursor: pointer
    font-weight: 600
    background: none

.tab-item-btn
    position: relative
    width: 400px
    height: 70px
    padding: 10px
    font-size: 16px
    font-weight: 600
    margin: 0 10px

    &::after
        content: ""
        height: 5px
        width: 0
        background: #592bff
        position: absolute
        left: 50%
        transform: translateX(-50%)
        bottom: 0
        border-radius: 8px