* , html
    margin: 0
    padding: 0
    box-sizing: border-box

body 
    font-family: 'Poppins', sans-serif

.section-vo-3
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

    h2, h3 
        text-align: center

    .container 
        width: 80%
        max-width: 1300px
        margin: auto

        .tabbed-items-container
            display: flex
            align-items: center
            justify-content: space-between

            .tab-active
                &::after
                    content: ""
                    height: 5px
                    background: rgb(89, 43, 255)
                    position: absolute
                    left: 0
                    bottom: 0
                    border-radius: 8px

        .tab-item-content
            display: none
            background: #fff
            width: 100%
            padding: 50px
            border-radius: 10px
            box-shadow: 1px 20px 78px 6px rgba(0, 0, 0, 0.03)
            height: auto
            transition: all 0.3s ease

            .tab-item-header
                margin: 20px 0
                font-size: 20px
                font-weight: 600
                color: rgb(39, 39, 39)

            .tab-item-text
                font-size: 16px
                line-height: 2.0em
                color: rgb(97, 97, 97)

        .items-content-active 
            display: block